[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

django = "*"
configparser = "*"
pymysql = "*"
django-webpack-loader = "*"
django-registration = "*"
django-allauth = "*"
djongo = "*"


[dev-packages]

djangotoolbox = "*"
